{:source-paths ["src/cljs"]
 :dependencies [[reagent "1.2.0"]
                [cljs-http "0.1.46"]
                [re-frame "1.3.0"]
                [re-com "2.13.2"]]
 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :modules {:main {:entries [rlc.lightcone.core]}}
        :devtools {:after-load rlc.lightcone.core/mount-root}}}}
